[submodule "submodules/robotlegs"]
	path = submodules/robotlegs
	url = git://github.com/robotlegs/robotlegs-framework.git
[submodule "submodules/swift"]
	path = submodules/swift
	url = http://github.com/tschneidereit/SwiftSuspenders.git
[submodule "submodules/tweenLite"]
	path = submodules/tweenLite
	url = git://github.com/FrancisVarga/as3TweenLite.git
[submodule "submodules/corelib"]
	path = submodules/corelib
	url = git://github.com/mikechambers/as3corelib.git